# EditorConfig
# http://EditorConfig.org

# Don't search any further up the directory tree
root = true

# Baseline
[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown
[*.md]
trim_trailing_whitespace = false

# Shell scripts
# Examples: https://github.com/mvdan/sh/blob/master/cmd/shfmt/shfmt.1.scd#examples
[*.sh]
max_line_length = 80

binary_next_line = true         # shfmt: -bn
keep_padding = true             # shfmt: -kp
switch_case_indent = true       # shfmt: -ci
space_redirects = true          # shfmt: -sr
keep_padding = true             # shfmt: -kp

# YAML
[*.yml]
indent_size = 2

[*.yaml]
indent_size = 2


