# ShellCheck settings
#
# Last reviewed release: v0.10.0

# List of optional checks to enable
enable=all

# List of checks to disable
#
# Check ID          Symbolic name                   Type
# SC2250            require-variable-braces         optional
# SC2015            ignore A && B || C              optional
disable=SC2250
disable=SC2015

# Add the script directory to the search path for source statements
source-path=SCRIPTDIR
